.one {
  width: 240px;
  height: 240px;
  /* background-color: red; */
  animation-name: Example;
  animation-duration: 4s;
  position: relative;
  animation-delay: 1;
}
@keyframes Example {
  0% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
  25% {
    /* background-color: yellow; */
    left: 0px;
    top: 0px;
  }
  50% {
    /* background-color: blue; */
    /* left: 200px; */
    /* top: 200px; */
  }
  75% {
    /* background-color: green; */
    left: 0px;
    top: 250px;
  }
  100% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
}
.four {
  width: 240px;
  height: 240px;
  /* background-color: red; */
  animation-name: Example1;
  animation-duration: 4s;
  position: relative;
  animation-delay: 1;
}
@keyframes Example1 {
  0% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
  25% {
    /* background-color: yellow; */
    /* left: 200px; */
    top: 0px;
  }
  50% {
    /* background-color: blue; */
    /* left: 200px; */
    /* top: 200px; */
  }
  75% {
    /* background-color: green; */
    left: 0px;
    top: -250px;
  }
  100% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
}
.three {
  width: 240px;
  height: 240px;
  /* background-color: red; */
  animation-name: Example3;
  animation-duration: 4s;
  position: relative;
  animation-delay: 1;
}
@keyframes Example3 {
  0% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
  25% {
    /* background-color: yellow; */
    /* left: 200px; */
    top: 0px;
  }
  50% {
    /* background-color: blue; */
    /* left: 200px; */
    /* top: 200px; */
  }
  75% {
    /* background-color: green; */
    left: 570px;
    top: 0px;
  }
  100% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
}
.two {
  width: 240px;
  height: 240px;
  /* background-color: red; */
  animation-name: Example41;
  animation-duration: 4s;
  position: relative;
  animation-delay: 1;
}
@keyframes Example41 {
  0% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
  25% {
    /* background-color: yellow; */
    /* left: 200px; */
    top: 0px;
  }
  50% {
    /* background-color: blue; */
    /* left: 200px; */
    /* top: 200px; */
  }
  75% {
    /* background-color: green; */
    left: -600px;
    top: 0px;
  }
  100% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
}
.six {
  width: 240px;
  height: 240px;
  /* background-color: red; */
  animation-name: Example6;
  animation-duration: 4s;
  position: relative;
  animation-delay: 1;
}
@keyframes Example6 {
  0% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
  25% {
    /* background-color: yellow; */
    /* left: 200px; */
    top: 0px;
  }
  50% {
    /* background-color: blue; */
    /* left: 200px; */
    /* top: 200px; */
  }
  75% {
    /* background-color: green; */
    left: 0px;
    top: 250px;
  }
  100% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
}
.five {
  width: 240px;
  height: 240px;
  /* background-color: red; */
  animation-name: Example5;
  animation-duration: 4s;
  position: relative;
  animation-delay: 1;
}
@keyframes Example5 {
  0% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
  25% {
    /* background-color: yellow; */
    /* left: 200px; */
    top: 0px;
  }
  50% {
    /* background-color: blue; */
    /* left: 200px; */
    /* top: 200px; */
  }
  75% {
    /* background-color: green; */
    left: 0px;
    top: -250px;
  }
  100% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
}
.eight {
  width: 240px;
  height: 240px;
  /* background-color: red; */
  animation-name: Example8;
  animation-duration: 4s;
  position: relative;
  animation-delay: 1;
}
@keyframes Example8 {
  0% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
  25% {
    /* background-color: yellow; */
    /* left: 200px; */
    top: 0px;
  }
  50% {
    /* background-color: blue; */
    /* left: 200px; */
    /* top: 200px; */
  }
  75% {
    /* background-color: green; */
    left: 250px;
    top: 0px;
  }
  100% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
}
.seven {
  width: 240px;
  height: 240px;
  /* background-color: red; */
  animation-name: Example42;
  animation-duration: 4s;
  position: relative;
  animation-delay: 1;
}
@keyframes Example42 {
  0% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
  25% {
    /* background-color: yellow; */
    /* left: 200px; */
    top: 0px;
  }
  50% {
    /* background-color: blue; */
    /* left: 200px; */
    /* top: 200px; */
  }
  75% {
    /* background-color: green; */
    left: -900px;
    top: 0px;
  }
  100% {
    /* background-color: red; */
    left: 0px;
    top: 0px;
  }
}
